<section class="catalog__section" id="catalog">
  <div class="catalog__header">
    <h2>Conheça <br /><span class="title-emphasis">nossos sabores</span></h2>
  </div>

  <div class="catalog__filters-container">
    <select
      class="catalog__filters"
      [value]="selectedCategory() ?? ''"
      (change)="onCategoryChange($event)"
    >
      <option value="">Todos</option>
      <option value="bolos">Bolos</option>
      <option value="empadas">Empadas</option>
    </select>
  </div>
  <div class="catalog-container">
    @for (product of filteredProducts(); track product.id) {
      <app-product-card
        [product]="product"
        (addToCart)="onAddToCart(product)"
        (cardClick)="openProduct($event)"
      ></app-product-card>
    }
  </div>

  @if (selectedProduct(); as product) {
    <div class="product-details-sheet-overlay" (click)="closeProduct()">
      <app-product-details-sheet
        [product]="selectedProduct()!"
        (closed)="closeProduct()"
        (click)="$event.stopPropagation()"
      ></app-product-details-sheet>
    </div>
  }
</section>
