<section class="contact__section" id="contact">
  <div class="contact__header">
    <h2 class="title-emphasis">Contato</h2>
  </div>

  <p class="contact__text">Ficou com alguma dúvida? Estamos prontos para atender você.</p>
  <div class="contact__badges">
    <app-badge
      icon="assets/icons/whatsapp-badge-2.svg"
      title="Whatsapp"
      subtitle="Realize seu pedido"
      link="https://wa.me/5511999999999"
      variant="wide"
    ></app-badge>
    <app-badge
      variant="wide"
      icon="assets/icons/instagram-badge.svg"
      title="Instagram"
      subtitle="@sensacoesdesabores00"
      link="https://www.instagram.com/sensacoesdesabores00/"
    ></app-badge>
    <app-badge
      icon="assets/icons/clock-badge.svg"
      title="Horário | 10h às 19h"
      subtitle="Segunda a Sábado"
      variant="wide"
    ></app-badge>
  </div>
</section>
